In [37]:
from datascience import *

In [38]:
Table() # empty table

In [39]:
Table().with_column('Name', make_array('Lawton', 'Lonzo', 'Bill'))

Name
Lawton
Lonzo
Bill

In [40]:
Table().with_columns(
    'Name', make_array('Lawton', 'Lonzo', 'Bill'),
    'Age', make_array(32, 5, 33)
)

Name   | Age
Lawton | 32
Lonzo  | 5
Bill   | 33

In [41]:
people = Table().with_columns(
    'Name', make_array('Lawton', 'Lonzo', 'Bill'),
    'Age', make_array(32, 5, 33)
)

In [42]:
people.with_columns('Employer', make_array('CCC', 'Unemployed', 'CCC')) # it's fine to use the plural one here

Name   | Age  | Employer
Lawton | 32   | CCC
Lonzo  | 5    | Unemployed
Bill   | 33   | CCC

In [43]:
people # didn't change

Name   | Age
Lawton | 32
Lonzo  | 5
Bill   | 33

In [44]:
people.relabeled('Age', 'Trips around sun')

Name   | Trips around sun
Lawton | 32
Lonzo  | 5
Bill   | 33

---

In [45]:
cones = Table.read_table('data/cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
vanilla    | white       | 3.5
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [46]:
cones.num_columns

3

In [47]:
cones.num_rows

7

In [48]:
cones.labels

('Flavor', 'Color', 'Price')

In [49]:
cones.column('Price')

array([ 3.55,  4.75,  5.25,  3.5 ,  5.25,  5.25,  4.75])

In [50]:
cones.column('Price').item(0) # first one is at index 0

3.55

In [51]:
cones.column(2)

array([ 3.55,  4.75,  5.25,  3.5 ,  5.25,  5.25,  4.75])

In [52]:
cones.column(2).item(1)

4.75

In [53]:
# crushed ice: calculate 8.75% sales tax of the prices in the Price column

In [54]:
tax_rate = 0.0875
cones = cones.with_column('Price with tax', cones.column('Price') * (1 + tax_rate))
cones

Flavor     | Color       | Price | Price with tax
strawberry | pink        | 3.55  | 3.86062
chocolate  | light brown | 4.75  | 5.16562
chocolate  | dark brown  | 5.25  | 5.70937
vanilla    | white       | 3.5   | 3.80625
strawberry | pink        | 5.25  | 5.70937
chocolate  | dark brown  | 5.25  | 5.70937
bubblegum  | pink        | 4.75  | 5.16562

In [55]:
cones.set_format('Price with tax', CurrencyFormatter)

Flavor     | Color       | Price | Price with tax
strawberry | pink        | 3.55  | $3.86
chocolate  | light brown | 4.75  | $5.17
chocolate  | dark brown  | 5.25  | $5.71
vanilla    | white       | 3.5   | $3.81
strawberry | pink        | 5.25  | $5.71
chocolate  | dark brown  | 5.25  | $5.71
bubblegum  | pink        | 4.75  | $5.17

In [56]:
Table().with_columns('x', make_array(1000, 10000, 9999999999)).set_format('x', NumberFormatter)

x
1,000
10,000
9,999,999,999

In [57]:
Table().with_columns('x', make_array(0.5, 0.75, 0.9999)).set_format('x', PercentFormatter)

x
50.00%
75.00%
99.99%

In [58]:
cones.select('Flavor', 'Price with tax')

Flavor     | Price with tax
strawberry | $3.86
chocolate  | $5.17
chocolate  | $5.71
vanilla    | $3.81
strawberry | $5.71
chocolate  | $5.71
bubblegum  | $5.17

In [59]:
cones.select(0, 3)  # indices work too

Flavor     | Price with tax
strawberry | $3.86
chocolate  | $5.17
chocolate  | $5.71
vanilla    | $3.81
strawberry | $5.71
chocolate  | $5.71
bubblegum  | $5.17

In [60]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
vanilla
strawberry
chocolate
bubblegum

In [61]:
cones.column('Flavor') # only this makes an array

array(['strawberry', 'chocolate', 'chocolate', 'vanilla', 'strawberry',
       'chocolate', 'bubblegum'],
      dtype='<U10')

In [62]:
cones.drop('Price') # makes a new Table, as usual

Flavor     | Color       | Price with tax
strawberry | pink        | $3.86
chocolate  | light brown | $5.17
chocolate  | dark brown  | $5.71
vanilla    | white       | $3.81
strawberry | pink        | $5.71
chocolate  | dark brown  | $5.71
bubblegum  | pink        | $5.17

In [63]:
cones.sort('Price with tax')

Flavor     | Color       | Price | Price with tax
vanilla    | white       | 3.5   | $3.81
strawberry | pink        | 3.55  | $3.86
chocolate  | light brown | 4.75  | $5.17
bubblegum  | pink        | 4.75  | $5.17
chocolate  | dark brown  | 5.25  | $5.71
strawberry | pink        | 5.25  | $5.71
chocolate  | dark brown  | 5.25  | $5.71

In [64]:
cones.sort('Price with tax', descending=True)

Flavor     | Color       | Price | Price with tax
chocolate  | dark brown  | 5.25  | $5.71
strawberry | pink        | 5.25  | $5.71
chocolate  | dark brown  | 5.25  | $5.71
chocolate  | light brown | 4.75  | $5.17
bubblegum  | pink        | 4.75  | $5.17
strawberry | pink        | 3.55  | $3.86
vanilla    | white       | 3.5   | $3.81

In [65]:
cones

Flavor     | Color       | Price | Price with tax
strawberry | pink        | 3.55  | $3.86
chocolate  | light brown | 4.75  | $5.17
chocolate  | dark brown  | 5.25  | $5.71
vanilla    | white       | 3.5   | $3.81
strawberry | pink        | 5.25  | $5.71
chocolate  | dark brown  | 5.25  | $5.71
bubblegum  | pink        | 4.75  | $5.17

In [67]:
cones.take(4)

Flavor     | Color | Price | Price with tax
strawberry | pink  | 5.25  | $5.71

In [68]:
import numpy as np
cones.take(np.arange(1, cones.num_rows, 2)) # all the odd indices

Flavor    | Color       | Price | Price with tax
chocolate | light brown | 4.75  | $5.17
vanilla   | white       | 3.5   | $3.81
chocolate | dark brown  | 5.25  | $5.71

In [71]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price | Price with tax
chocolate | light brown | 4.75  | $5.17
chocolate | dark brown  | 5.25  | $5.71
chocolate | dark brown  | 5.25  | $5.71

In [73]:
cones.where('Flavor', are.equal_to('chocolate'))

Flavor    | Color       | Price | Price with tax
chocolate | light brown | 4.75  | $5.17
chocolate | dark brown  | 5.25  | $5.71
chocolate | dark brown  | 5.25  | $5.71

In [75]:
cones.where('Price with tax', are.below(5))

Flavor     | Color | Price | Price with tax
strawberry | pink  | 3.55  | $3.86
vanilla    | white | 3.5   | $3.81

In [77]:
cones.where('Price with tax', are.below(5)).sort('Price with tax')

Flavor     | Color | Price | Price with tax
vanilla    | white | 3.5   | $3.81
strawberry | pink  | 3.55  | $3.86

In [76]:
cones.where('Color', are.containing('brown'))

Flavor    | Color       | Price | Price with tax
chocolate | light brown | 4.75  | $5.17
chocolate | dark brown  | 5.25  | $5.71
chocolate | dark brown  | 5.25  | $5.71

---

In [26]:
pokemon = Table.read_table('data/pokemon.csv')
pokemon

abilities                   | against_bug | against_dark | against_dragon | against_electric | against_fairy | against_fight | against_fire | against_flying | against_ghost | against_grass | against_ground | against_ice | against_normal | against_poison | against_psychic | against_rock | against_steel | against_water | attack | base_egg_steps | base_happiness | base_total | capture_rate | classfication       | defense | experience_growth | height_m | hp   | japanese_name    | name       | percentage_male | pokedex_number | sp_attack | sp_defense | speed | type1 | type2  | weight_kg | generation | is_legendary
['Overgrow', 'Chlorophyll'] | 1           | 1            | 1              | 0.5              | 0.5           | 0.5           | 2            | 2              | 1             | 0.25          | 1              | 2           | 1              | 1              | 2               | 1            | 1             | 0.5           | 49     | 5120           | 70             | 318        | 45           | Seed Pokémon        | 49      | 1059860           | 0.7      | 45   | Fushigidaneフシギダネ | Bulbasaur  | 88.1            | 1              | 65        | 65         | 45    | grass | poison | 6.9       | 1          | 0
['Overgrow', 'Chlorophyll'] | 1           | 1            | 1              | 0.5              | 0.5           | 0.5           | 2            | 2              | 1             | 0.25          | 1              | 2           | 1              | 1              | 2               | 1            | 1             | 0.5           | 62     | 5120           | 70             | 405        | 45           | Seed Pokémon        | 63      | 1059860           | 1        | 60   | Fushigisouフシギソウ  | Ivysaur    | 88.1            | 2              | 80        | 80         | 60    | grass | poison | 13        | 1          | 0
['Overgrow', 'Chlorophyll'] | 1           | 1            | 1              | 0.5              | 0.5           | 0.5           | 2            | 2              | 1             | 0.25          | 1              | 2           | 1              | 1              | 2               | 1            | 1             | 0.5           | 100    | 5120           | 70             | 625        | 45           | Seed Pokémon        | 123     | 1059860           | 2        | 80   | Fushigibanaフシギバナ | Venusaur   | 88.1            | 3              | 122       | 120        | 80    | grass | poison | 100       | 1          | 0
['Blaze', 'Solar Power']    | 0.5         | 1            | 1              | 1                | 0.5           | 1             | 0.5          | 1              | 1             | 0.5           | 2              | 0.5         | 1              | 1              | 1               | 2            | 0.5           | 2             | 52     | 5120           | 70             | 309        | 45           | Lizard Pokémon      | 43      | 1059860           | 0.6      | 39   | Hitokageヒトカゲ     | Charmander | 88.1            | 4              | 60        | 50         | 65    | fire  | nan    | 8.5       | 1          | 0
['Blaze', 'Solar Power']    | 0.5         | 1            | 1              | 1                | 0.5           | 1             | 0.5          | 1              | 1             | 0.5           | 2              | 0.5         | 1              | 1              | 1               | 2            | 0.5           | 2             | 64     | 5120           | 70             | 405        | 45           | Flame Pokémon       | 58      | 1059860           | 1.1      | 58   | Lizardoリザード      | Charmeleon | 88.1            | 5              | 80        | 65         | 80    | fire  | nan    | 19        | 1          | 0
['Blaze', 'Solar Power']    | 0.25        | 1            | 1              | 2                | 0.5           | 0.5           | 0.5          | 1              | 1             | 0.25          | 0              | 1           | 1              | 1              | 1               | 4            | 0.5           | 2             | 104    | 5120           | 70             | 634        | 45           | Flame Pokémon       | 78      | 1059860           | 1.7      | 78   | Lizardonリザードン    | Charizard  | 88.1            | 6              | 159       | 115        | 100   | fire  | flying | 90.5      | 1          | 0
['Torrent', 'Rain Dish']    | 1           | 1            | 1              | 2                | 1             | 1             | 0.5          | 1              | 1             | 2             | 1              | 0.5         | 1              | 1              | 1               | 1            | 0.5           | 0.5           | 48     | 5120           | 70             | 314        | 45           | Tiny Turtle Pokémon | 65      | 1059860           | 0.5      | 44   | Zenigameゼニガメ     | Squirtle   | 88.1            | 7              | 50        | 64         | 43    | water | nan    | 9         | 1          | 0
['Torrent', 'Rain Dish']    | 1           | 1            | 1              | 2                | 1             | 1             | 0.5          | 1              | 1             | 2             | 1              | 0.5         | 1              | 1              | 1               | 1            | 0.5           | 0.5           | 63     | 5120           | 70             | 405        | 45           | Turtle Pokémon      | 80      | 1059860           | 1        | 59   | Kameilカメール       | Wartortle  | 88.1            | 8              | 65        | 80         | 58    | water | nan    | 22.5      | 1          | 0
['Torrent', 'Rain Dish']    | 1           | 1            | 1              | 2                | 1             | 1             | 0.5          | 1              | 1             | 2             | 1              | 0.5         | 1              | 1              | 1               | 1            | 0.5           | 0.5           | 103    | 5120           | 70             | 630        | 45           | Shellfish Pokémon   | 120     | 1059860           | 1.6      | 79   | Kamexカメックス       | Blastoise  | 88.1            | 9              | 135       | 115        | 78    | water | nan    | 85.5      | 1          | 0
['Shield Dust', 'Run Away'] | 1           | 1            | 1              | 1                | 1             | 0.5           | 2            | 2              | 1             | 0.5           | 0.5            | 1           | 1              | 1              | 1               | 2            | 1             | 1             | 30     | 3840           | 70             | 195        | 255          | Worm Pokémon        | 35      | 1000000           | 0.3      | 45   | Caterpieキャタピー    | Caterpie   | 50              | 10             | 20        | 20         | 45    | bug   | nan    | 2.9       | 1          | 0
... (791 rows omitted)

In [27]:
pokemon = pokemon.select('name', 'pokedex_number', 'type1', 'attack', 'hp').relabeled('pokedex_number', 'number').relabeled('type1', 'type')
pokemon

name       | number | type  | attack | hp
Bulbasaur  | 1      | grass | 49     | 45
Ivysaur    | 2      | grass | 62     | 60
Venusaur   | 3      | grass | 100    | 80
Charmander | 4      | fire  | 52     | 39
Charmeleon | 5      | fire  | 64     | 58
Charizard  | 6      | fire  | 104    | 78
Squirtle   | 7      | water | 48     | 44
Wartortle  | 8      | water | 63     | 59
Blastoise  | 9      | water | 103    | 79
Caterpie   | 10     | bug   | 30     | 45
... (791 rows omitted)

In [28]:
pokemon.take(3)

name       | number | type | attack | hp
Charmander | 4      | fire | 52     | 39

In [29]:
import numpy as np

In [30]:
pokemon.take(np.arange(24, 30))

name      | number | type     | attack | hp
Pikachu   | 25     | electric | 55     | 35
Raichu    | 26     | electric | 85     | 60
Sandshrew | 27     | ground   | 75     | 50
Sandslash | 28     | ground   | 100    | 75
Nidoran♀  | 29     | poison   | 47     | 55
Nidorina  | 30     | poison   | 62     | 70

In [31]:
pokemon.where('attack', are.above(75))

name      | number | type     | attack | hp
Venusaur  | 3      | grass    | 100    | 80
Charizard | 6      | fire     | 104    | 78
Blastoise | 9      | water    | 103    | 79
Beedrill  | 15     | bug      | 150    | 65
Pidgeot   | 18     | normal   | 80     | 83
Fearow    | 22     | normal   | 90     | 65
Arbok     | 24     | poison   | 95     | 60
Raichu    | 26     | electric | 85     | 60
Sandslash | 28     | ground   | 100    | 75
Nidoqueen | 31     | poison   | 92     | 90
... (365 rows omitted)

In [32]:
pokemon.where('attack', are.above(75)).sort('attack')

name       | number | type   | attack | hp
Furret     | 162    | normal | 76     | 85
Yanmega    | 469    | bug    | 76     | 86
Tranquill  | 520    | normal | 77     | 62
Galvantula | 596    | bug    | 77     | 70
Aurorus    | 699    | rock   | 77     | 123
Whiscash   | 340    | water  | 78     | 110
Monferno   | 391    | fire   | 78     | 64
Tirtouga   | 564    | water  | 78     | 54
Quilladin  | 651    | grass  | 78     | 61
Turtonator | 776    | fire   | 78     | 60
... (365 rows omitted)

In [33]:
pokemon.where('type', are.equal_to('electric'))

name       | number | type     | attack | hp
Pikachu    | 25     | electric | 55     | 35
Raichu     | 26     | electric | 85     | 60
Magnemite  | 81     | electric | 35     | 25
Magneton   | 82     | electric | 60     | 50
Voltorb    | 100    | electric | 30     | 40
Electrode  | 101    | electric | 50     | 60
Electabuzz | 125    | electric | 83     | 65
Jolteon    | 135    | electric | 65     | 65
Zapdos     | 145    | electric | 90     | 90
Pichu      | 172    | electric | 40     | 20
... (29 rows omitted)

In [34]:
pokemon.where('type', 'electric') # shorthand

name       | number | type     | attack | hp
Pikachu    | 25     | electric | 55     | 35
Raichu     | 26     | electric | 85     | 60
Magnemite  | 81     | electric | 35     | 25
Magneton   | 82     | electric | 60     | 50
Voltorb    | 100    | electric | 30     | 40
Electrode  | 101    | electric | 50     | 60
Electabuzz | 125    | electric | 83     | 65
Jolteon    | 135    | electric | 65     | 65
Zapdos     | 145    | electric | 90     | 90
Pichu      | 172    | electric | 40     | 20
... (29 rows omitted)

In [35]:
pokemon.where('type', 'electric').where('hp', are.above_or_equal_to(80))

name       | number | type     | attack | hp
Zapdos     | 145    | electric | 90     | 90
Ampharos   | 181    | electric | 95     | 90
Raikou     | 243    | electric | 85     | 90
Luxray     | 405    | electric | 120    | 80
Eelektross | 604    | electric | 115    | 85
Xurkitree  | 796    | electric | 89     | 83

In [36]:
eeveelutions = pokemon.take(np.arange(132, 136))
eeveelutions

name     | number | type     | attack | hp
Eevee    | 133    | normal   | 55     | 55
Vaporeon | 134    | water    | 65     | 130
Jolteon  | 135    | electric | 65     | 65
Flareon  | 136    | fire     | 130    | 65

In [37]:
original_hp = eeveelutions.column('hp').item(0)
eeveelutions = eeveelutions.with_column('Percent increase', eeveelutions.column('hp') / original_hp - 1)
eeveelutions

name     | number | type     | attack | hp   | Percent increase
Eevee    | 133    | normal   | 55     | 55   | 0
Vaporeon | 134    | water    | 65     | 130  | 1.36364
Jolteon  | 135    | electric | 65     | 65   | 0.181818
Flareon  | 136    | fire     | 130    | 65   | 0.181818

In [38]:
eeveelutions.set_format('Percent increase', PercentFormatter)

name     | number | type     | attack | hp   | Percent increase
Eevee    | 133    | normal   | 55     | 55   | 0.00%
Vaporeon | 134    | water    | 65     | 130  | 136.36%
Jolteon  | 135    | electric | 65     | 65   | 18.18%
Flareon  | 136    | fire     | 130    | 65   | 18.18%

---

In [2]:
fresno = Table.read_table('data/max-min-temperatures-fresno-up-to-2025.csv')
fresno

Date | Highest High | Highest High Year | Lowest Low | Lowest Low Year
1/1  | 69           | 1998              | 21         | 1976
1/2  | 70           | 1948              | 20         | 1976
1/3  | 72           | 1948              | 23         | 1976
1/4  | 71           | 1948              | 22         | 1976
1/5  | 72           | 2018              | 20         | 1949
1/6  | 73           | 1948              | 17         | 1913
1/7  | 71           | 1911              | 20         | 1913
1/8  | 72           | 1911              | 22         | 1888
1/9  | 70           | 1953              | 23         | 1949
1/10 | 68           | 2025              | 18         | 1949
... (356 rows omitted)

In [27]:
import numpy as np
widths = np.round(fresno.column('Highest High') / 3).astype(int)
widths

array([23, 23, 24, 24, 24, 24, 24, 24, 23, 23, 25, 22, 23, 23, 25, 24, 25,
       23, 24, 24, 24, 23, 24, 26, 25, 24, 23, 26, 26, 25, 25, 24, 25, 26,
       26, 25, 25, 26, 25, 26, 25, 26, 27, 27, 26, 26, 27, 28, 28, 26, 27,
       26, 26, 26, 26, 27, 28, 26, 28, 26, 26, 27, 27, 28, 28, 29, 28, 28,
       29, 27, 29, 28, 28, 29, 30, 29, 30, 29, 29, 30, 29, 28, 30, 30, 30,
       29, 30, 28, 29, 30, 30, 30, 29, 30, 29, 31, 31, 31, 32, 32, 32, 32,
       32, 32, 33, 32, 32, 31, 32, 31, 32, 33, 32, 33, 34, 34, 33, 33, 33,
       32, 33, 34, 34, 33, 33, 33, 33, 34, 34, 34, 33, 33, 34, 34, 34, 34,
       34, 35, 34, 34, 34, 35, 35, 34, 34, 34, 34, 35, 36, 36, 36, 37, 35,
       35, 36, 35, 36, 36, 36, 36, 37, 35, 35, 36, 36, 36, 36, 37, 36, 37,
       37, 37, 37, 36, 36, 37, 37, 36, 37, 36, 37, 37, 38, 37, 37, 37, 37,
       37, 38, 38, 38, 37, 38, 37, 37, 37, 37, 37, 38, 37, 37, 37, 37, 37,
       38, 38, 38, 38, 38, 37, 38, 38, 38, 37, 37, 37, 37, 37, 37, 37, 38,
       37, 37, 38, 37, 37, 37, 36, 37, 37, 37, 37, 36, 36, 36, 37, 37, 37,
       36, 36, 36, 36, 36, 36, 36, 37, 37, 36, 36, 38, 37, 36, 36, 36, 37,
       35, 35, 35, 35, 35, 35, 36, 35, 35, 34, 35, 35, 34, 33, 36, 35, 35,
       34, 34, 33, 34, 35, 34, 34, 33, 33, 33, 33, 33, 32, 32, 32, 33, 33,
       32, 32, 32, 31, 31, 31, 31, 30, 32, 30, 30, 30, 30, 29, 30, 30, 29,
       29, 29, 29, 30, 29, 28, 28, 28, 28, 28, 27, 28, 26, 26, 27, 27, 27,
       28, 27, 27, 26, 26, 26, 25, 27, 26, 25, 25, 26, 25, 25, 25, 24, 24,
       26, 23, 26, 23, 25, 23, 23, 24, 25, 25, 23, 23, 24, 25, 23, 24, 23,
       23, 23, 24, 23, 24, 22, 23, 22, 23])

In [28]:
bars = np.char.multiply('#', widths)
bars

array(['#######################', '#######################',
       '########################', '########################',
       '########################', '########################',
       '########################', '########################',
       '#######################', '#######################',
       '#########################', '######################',
       '#######################', '#######################',
       '#########################', '########################',
       '#########################', '#######################',
       '########################', '########################',
       '########################', '#######################',
       '########################', '##########################',
       '#########################', '########################',
       '#######################', '##########################',
       '##########################', '#########################',
       '#########################', '########################',
       '#########################', '##########################',
       '##########################', '#########################',
       '#########################', '##########################',
       '#########################', '##########################',
       '#########################', '##########################',
       '###########################', '###########################',
       '##########################', '##########################',
       '###########################', '############################',
       '############################', '##########################',
       '###########################', '##########################',
       '##########################', '##########################',
       '##########################', '###########################',
       '############################', '##########################',
       '############################', '##########################',
       '##########################', '###########################',
       '###########################', '############################',
       '############################', '#############################',
       '############################', '############################',
       '#############################', '###########################',
       '#############################', '############################',
       '############################', '#############################',
       '##############################', '#############################',
       '##############################', '#############################',
       '#############################', '##############################',
       '#############################', '############################',
       '##############################', '##############################',
       '##############################', '#############################',
       '##############################', '############################',
       '#############################', '##############################',
       '##############################', '##############################',
       '#############################', '##############################',
       '#############################', '###############################',
       '###############################',
       '###############################',
       '################################',
       '################################',
       '################################',
       '################################',
       '################################',
       '################################',
       '#################################',
       '################################',
       '################################',
       '###############################',
       '################################',
       '###############################',
       '################################',
       '#################################',
       '################################',
       '#################################',
       '##################################',
       '##################################',
       '#################################',
       '#################################',
       '#################################',
       '################################',
       '#################################',
       '##################################',
       '##################################',
       '#################################',
       '#################################',
       '#################################',
       '#################################',
       '##################################',
       '##################################',
       '##################################',
       '#################################',
       '#################################',
       '##################################',
       '##################################',
       '##################################',
       '##################################',
       '##################################',
       '###################################',
       '##################################',
       '##################################',
       '##################################',
       '###################################',
       '###################################',
       '##################################',
       '##################################',
       '##################################',
       '##################################',
       '###################################',
       '####################################',
       '####################################',
       '####################################',
       '#####################################',
       '###################################',
       '###################################',
       '####################################',
       '###################################',
       '####################################',
       '####################################',
       '####################################',
       '####################################',
       '#####################################',
       '###################################',
       '###################################',
       '####################################',
       '####################################',
       '####################################',
       '####################################',
       '#####################################',
       '####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '####################################',
       '####################################',
       '#####################################',
       '#####################################',
       '####################################',
       '#####################################',
       '####################################',
       '#####################################',
       '#####################################',
       '######################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '######################################',
       '######################################',
       '######################################',
       '#####################################',
       '######################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '######################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '######################################',
       '######################################',
       '######################################',
       '######################################',
       '######################################',
       '#####################################',
       '######################################',
       '######################################',
       '######################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '######################################',
       '#####################################',
       '#####################################',
       '######################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '####################################',
       '####################################',
       '####################################',
       '#####################################',
       '#####################################',
       '#####################################',
       '####################################',
       '####################################',
       '####################################',
       '####################################',
       '####################################',
       '####################################',
       '####################################',
       '#####################################',
       '#####################################',
       '####################################',
       '####################################',
       '######################################',
       '#####################################',
       '####################################',
       '####################################',
       '####################################',
       '#####################################',
       '###################################',
       '###################################',
       '###################################',
       '###################################',
       '###################################',
       '###################################',
       '####################################',
       '###################################',
       '###################################',
       '##################################',
       '###################################',
       '###################################',
       '##################################',
       '#################################',
       '####################################',
       '###################################',
       '###################################',
       '##################################',
       '##################################',
       '#################################',
       '##################################',
       '###################################',
       '##################################',
       '##################################',
       '#################################',
       '#################################',
       '#################################',
       '#################################',
       '#################################',
       '################################',
       '################################',
       '################################',
       '#################################',
       '#################################',
       '################################',
       '################################',
       '################################',
       '###############################',
       '###############################',
       '###############################',
       '###############################', '##############################',
       '################################',
       '##############################', '##############################',
       '##############################', '##############################',
       '#############################', '##############################',
       '##############################', '#############################',
       '#############################', '#############################',
       '#############################', '##############################',
       '#############################', '############################',
       '############################', '############################',
       '############################', '############################',
       '###########################', '############################',
       '##########################', '##########################',
       '###########################', '###########################',
       '###########################', '############################',
       '###########################', '###########################',
       '##########################', '##########################',
       '##########################', '#########################',
       '###########################', '##########################',
       '#########################', '#########################',
       '##########################', '#########################',
       '#########################', '#########################',
       '########################', '########################',
       '##########################', '#######################',
       '##########################', '#######################',
       '#########################', '#######################',
       '#######################', '########################',
       '#########################', '#########################',
       '#######################', '#######################',
       '########################', '#########################',
       '#######################', '########################',
       '#######################', '#######################',
       '#######################', '########################',
       '#######################', '########################',
       '######################', '#######################',
       '######################', '#######################'],
      dtype='<U38')

In [29]:
fresno.select('Date', 'Highest High').with_column('Highest High Graph', bars).show()