In [97]:
trips = Table.read_table('data/202506-baywheels-tripdata.csv.zip')
trips

ride_id          | rideable_type | started_at              | ended_at                | start_station_name           | start_station_id | end_station_name         | end_station_id | start_lat | start_lng | end_lat | end_lng  | member_casual
B8FFF86E4717F5EB | classic_bike  | 2025-06-30 09:07:18.625 | 2025-06-30 09:16:12.722 | 62nd St at Claremont Ave     | OK-A4            | Telegraph Ave at 49th St | OK-D4          | 37.8494   | -122.253  | 37.8357 | -122.263 | member
45B45A777559D706 | electric_bike | 2025-06-03 13:07:55.313 | 2025-06-03 13:16:31.166 | MLK Jr Way at University Ave | BK-C6            | Fulton St at Ashby Ave   | BK-H8          | 37.8717   | -122.273  | 37.8556 | -122.264 | member
F04B35645D7E18FB | classic_bike  | 2025-06-23 09:13:34.202 | 2025-06-23 09:21:50.823 | Precita Park                 | SF-S24           | Harrison St at 20th St   | SF-P24         | 37.7473   | -122.411  | 37.7589 | -122.413 | casual
AF32ECA49D41C765 | classic_bike  | 2025-06-16 13:24:02.794 | 2025-06-16 13:34:30.657 | San Pablo Park               | BK-G4            | San Pablo Park           | BK-G4          | 37.8558   | -122.283  | 37.8558 | -122.283 | member
E877DD0994FD13F3 | electric_bike | 2025-06-04 06:47:59.506 | 2025-06-04 07:00:28.534 | Broadway at 40th St          | OK-F5            | Bay Street Plaza         | EM-C1-2        | 37.8278   | -122.257  | 37.8346 | -122.292 | casual
2EE364B8F5987EE6 | electric_bike | 2025-06-03 17:38:46.966 | 2025-06-03 17:47:45.805 | Masonic Ave at Turk St       | SF-I16           | Masonic Ave at Turk St   | SF-I16         | 37.779    | -122.447  | 37.779  | -122.447 | casual
B9DDED6CEA6EF3B9 | electric_bike | 2025-06-03 21:41:02.433 | 2025-06-03 21:47:29.827 | Masonic Ave at Turk St       | SF-I16           | Haight St at Lyon St     | SF-K17-2       | 37.779    | -122.447  | 37.7705 | -122.442 | casual
26C6F9EB47D14AC0 | electric_bike | 2025-06-09 16:07:36.708 | 2025-06-09 17:22:53.987 | Mason St at Halleck St       | SF-A15           | nan                      | nan            | 37.804    | -122.455  | 37.8    | -122.43  | casual
5BDB090FB8F80EA6 | electric_bike | 2025-06-26 06:33:13.815 | 2025-06-26 06:39:16.894 | Market St at Franklin St     | SF-K22-1         | nan                      | nan            | 37.7738   | -122.421  | 37.78   | -122.42  | member
584C71D820067532 | electric_bike | 2025-06-15 00:26:46.204 | 2025-06-15 00:41:38.997 | Masonic Ave at Turk St       | SF-I16           | 34th Ave at Balboa St    | SF-J5          | 37.779    | -122.447  | 37.7757 | -122.494 | member
... (378735 rows omitted)

In [112]:
lats = trips.select('start_station_name', 'start_lat').group('start_station_name', np.mean)
lats

start_station_name                           | start_lat mean
 Sloat Blvd at The Great Highway to 46th Ave | 37.7353
10th Ave at E 15th St                        | 37.7927
10th Ave at Irving St                        | 37.7642
10th St at Chestnut St                       | 37.8064
10th St at Empire St                         | 37.3494
10th St at Fallon St                         | 37.7977
10th St at Mission St                        | 37.3557
10th St at University Ave                    | 37.8691
11th St at Bryant St                         | 37.77
11th St at Natoma St                         | 37.7735
... (575 rows omitted)

In [113]:
lngs = trips.select('start_station_name', 'start_lng').group('start_station_name', np.mean)
lngs

start_station_name                           | start_lng mean
 Sloat Blvd at The Great Highway to 46th Ave | -122.505
10th Ave at E 15th St                        | -122.249
10th Ave at Irving St                        | -122.467
10th St at Chestnut St                       | -122.286
10th St at Empire St                         | -121.888
10th St at Fallon St                         | -122.263
10th St at Mission St                        | -121.892
10th St at University Ave                    | -122.293
11th St at Bryant St                         | -122.412
11th St at Natoma St                         | -122.416
... (575 rows omitted)

In [117]:
stations = lats.join('start_station_name', lngs).relabeled(
    ['start_station_name', 'start_lat mean', 'start_lng mean'],
    ['station_name', 'lat', 'long']
)
stations

station_name                                 | lat     | long
 Sloat Blvd at The Great Highway to 46th Ave | 37.7353 | -122.505
10th Ave at E 15th St                        | 37.7927 | -122.249
10th Ave at Irving St                        | 37.7642 | -122.467
10th St at Chestnut St                       | 37.8064 | -122.286
10th St at Empire St                         | 37.3494 | -121.888
10th St at Fallon St                         | 37.7977 | -122.263
10th St at Mission St                        | 37.3557 | -121.892
10th St at University Ave                    | 37.8691 | -122.293
11th St at Bryant St                         | 37.77   | -122.412
11th St at Natoma St                         | 37.7735 | -122.416
... (575 rows omitted)

In [118]:
stations.to_csv('data/stations.csv')

In [119]:
trips

ride_id          | rideable_type | started_at              | ended_at                | start_station_name           | start_station_id | end_station_name         | end_station_id | start_lat | start_lng | end_lat | end_lng  | member_casual
B8FFF86E4717F5EB | classic_bike  | 2025-06-30 09:07:18.625 | 2025-06-30 09:16:12.722 | 62nd St at Claremont Ave     | OK-A4            | Telegraph Ave at 49th St | OK-D4          | 37.8494   | -122.253  | 37.8357 | -122.263 | member
45B45A777559D706 | electric_bike | 2025-06-03 13:07:55.313 | 2025-06-03 13:16:31.166 | MLK Jr Way at University Ave | BK-C6            | Fulton St at Ashby Ave   | BK-H8          | 37.8717   | -122.273  | 37.8556 | -122.264 | member
F04B35645D7E18FB | classic_bike  | 2025-06-23 09:13:34.202 | 2025-06-23 09:21:50.823 | Precita Park                 | SF-S24           | Harrison St at 20th St   | SF-P24         | 37.7473   | -122.411  | 37.7589 | -122.413 | casual
AF32ECA49D41C765 | classic_bike  | 2025-06-16 13:24:02.794 | 2025-06-16 13:34:30.657 | San Pablo Park               | BK-G4            | San Pablo Park           | BK-G4          | 37.8558   | -122.283  | 37.8558 | -122.283 | member
E877DD0994FD13F3 | electric_bike | 2025-06-04 06:47:59.506 | 2025-06-04 07:00:28.534 | Broadway at 40th St          | OK-F5            | Bay Street Plaza         | EM-C1-2        | 37.8278   | -122.257  | 37.8346 | -122.292 | casual
2EE364B8F5987EE6 | electric_bike | 2025-06-03 17:38:46.966 | 2025-06-03 17:47:45.805 | Masonic Ave at Turk St       | SF-I16           | Masonic Ave at Turk St   | SF-I16         | 37.779    | -122.447  | 37.779  | -122.447 | casual
B9DDED6CEA6EF3B9 | electric_bike | 2025-06-03 21:41:02.433 | 2025-06-03 21:47:29.827 | Masonic Ave at Turk St       | SF-I16           | Haight St at Lyon St     | SF-K17-2       | 37.779    | -122.447  | 37.7705 | -122.442 | casual
26C6F9EB47D14AC0 | electric_bike | 2025-06-09 16:07:36.708 | 2025-06-09 17:22:53.987 | Mason St at Halleck St       | SF-A15           | nan                      | nan            | 37.804    | -122.455  | 37.8    | -122.43  | casual
5BDB090FB8F80EA6 | electric_bike | 2025-06-26 06:33:13.815 | 2025-06-26 06:39:16.894 | Market St at Franklin St     | SF-K22-1         | nan                      | nan            | 37.7738   | -122.421  | 37.78   | -122.42  | member
584C71D820067532 | electric_bike | 2025-06-15 00:26:46.204 | 2025-06-15 00:41:38.997 | Masonic Ave at Turk St       | SF-I16           | 34th Ave at Balboa St    | SF-J5          | 37.779    | -122.447  | 37.7757 | -122.494 | member
... (378735 rows omitted)

In [122]:
trips = trips.drop([
    'ride_id', 'start_station_id', 'end_station_id', 'start_lat',
    'start_lng',	'end_lat',	'end_lng'])
trips

rideable_type | started_at              | ended_at                | start_station_name           | end_station_name         | member_casual
classic_bike  | 2025-06-30 09:07:18.625 | 2025-06-30 09:16:12.722 | 62nd St at Claremont Ave     | Telegraph Ave at 49th St | member
electric_bike | 2025-06-03 13:07:55.313 | 2025-06-03 13:16:31.166 | MLK Jr Way at University Ave | Fulton St at Ashby Ave   | member
classic_bike  | 2025-06-23 09:13:34.202 | 2025-06-23 09:21:50.823 | Precita Park                 | Harrison St at 20th St   | casual
classic_bike  | 2025-06-16 13:24:02.794 | 2025-06-16 13:34:30.657 | San Pablo Park               | San Pablo Park           | member
electric_bike | 2025-06-04 06:47:59.506 | 2025-06-04 07:00:28.534 | Broadway at 40th St          | Bay Street Plaza         | casual
electric_bike | 2025-06-03 17:38:46.966 | 2025-06-03 17:47:45.805 | Masonic Ave at Turk St       | Masonic Ave at Turk St   | casual
electric_bike | 2025-06-03 21:41:02.433 | 2025-06-03 21:47:29.827 | Masonic Ave at Turk St       | Haight St at Lyon St     | casual
electric_bike | 2025-06-09 16:07:36.708 | 2025-06-09 17:22:53.987 | Mason St at Halleck St       | nan                      | casual
electric_bike | 2025-06-26 06:33:13.815 | 2025-06-26 06:39:16.894 | Market St at Franklin St     | nan                      | member
electric_bike | 2025-06-15 00:26:46.204 | 2025-06-15 00:41:38.997 | Masonic Ave at Turk St       | 34th Ave at Balboa St    | member
... (378735 rows omitted)

In [125]:
trips = trips.where('start_station_name', are.not_equal_to('nan')).where('end_station_name', are.not_equal_to('nan'))
trips

rideable_type | started_at              | ended_at                | start_station_name           | end_station_name         | member_casual
classic_bike  | 2025-06-30 09:07:18.625 | 2025-06-30 09:16:12.722 | 62nd St at Claremont Ave     | Telegraph Ave at 49th St | member
electric_bike | 2025-06-03 13:07:55.313 | 2025-06-03 13:16:31.166 | MLK Jr Way at University Ave | Fulton St at Ashby Ave   | member
classic_bike  | 2025-06-23 09:13:34.202 | 2025-06-23 09:21:50.823 | Precita Park                 | Harrison St at 20th St   | casual
classic_bike  | 2025-06-16 13:24:02.794 | 2025-06-16 13:34:30.657 | San Pablo Park               | San Pablo Park           | member
electric_bike | 2025-06-04 06:47:59.506 | 2025-06-04 07:00:28.534 | Broadway at 40th St          | Bay Street Plaza         | casual
electric_bike | 2025-06-03 17:38:46.966 | 2025-06-03 17:47:45.805 | Masonic Ave at Turk St       | Masonic Ave at Turk St   | casual
electric_bike | 2025-06-03 21:41:02.433 | 2025-06-03 21:47:29.827 | Masonic Ave at Turk St       | Haight St at Lyon St     | casual
electric_bike | 2025-06-15 00:26:46.204 | 2025-06-15 00:41:38.997 | Masonic Ave at Turk St       | 34th Ave at Balboa St    | member
electric_bike | 2025-06-03 21:40:42.205 | 2025-06-03 21:48:15.143 | Masonic Ave at Turk St       | Broderick St at Oak St   | casual
classic_bike  | 2025-06-28 16:01:15.655 | 2025-06-28 16:07:09.931 | 23rd St at San Bruno Ave     | 20th St at Bryant St     | member
... (345730 rows omitted)

In [126]:
trips

rideable_type | started_at              | ended_at                | start_station_name           | end_station_name         | member_casual
classic_bike  | 2025-06-30 09:07:18.625 | 2025-06-30 09:16:12.722 | 62nd St at Claremont Ave     | Telegraph Ave at 49th St | member
electric_bike | 2025-06-03 13:07:55.313 | 2025-06-03 13:16:31.166 | MLK Jr Way at University Ave | Fulton St at Ashby Ave   | member
classic_bike  | 2025-06-23 09:13:34.202 | 2025-06-23 09:21:50.823 | Precita Park                 | Harrison St at 20th St   | casual
classic_bike  | 2025-06-16 13:24:02.794 | 2025-06-16 13:34:30.657 | San Pablo Park               | San Pablo Park           | member
electric_bike | 2025-06-04 06:47:59.506 | 2025-06-04 07:00:28.534 | Broadway at 40th St          | Bay Street Plaza         | casual
electric_bike | 2025-06-03 17:38:46.966 | 2025-06-03 17:47:45.805 | Masonic Ave at Turk St       | Masonic Ave at Turk St   | casual
electric_bike | 2025-06-03 21:41:02.433 | 2025-06-03 21:47:29.827 | Masonic Ave at Turk St       | Haight St at Lyon St     | casual
electric_bike | 2025-06-15 00:26:46.204 | 2025-06-15 00:41:38.997 | Masonic Ave at Turk St       | 34th Ave at Balboa St    | member
electric_bike | 2025-06-03 21:40:42.205 | 2025-06-03 21:48:15.143 | Masonic Ave at Turk St       | Broderick St at Oak St   | casual
classic_bike  | 2025-06-28 16:01:15.655 | 2025-06-28 16:07:09.931 | 23rd St at San Bruno Ave     | 20th St at Bryant St     | member
... (345730 rows omitted)

In [134]:
durations = (trips.column(2).astype(np.datetime64) - trips.column(1).astype(np.datetime64)).astype(np.float64) / 1000

In [136]:
trips = trips.with_column('duration', durations)

In [142]:
print(trips.labels)

('rideable_type', 'started_at', 'ended_at', 'start_station_name', 'end_station_name', 'member_casual', 'duration')

In [144]:
trips = trips.select(
    'rideable_type', 'started_at', 'ended_at', 'duration', 
    'start_station_name', 'end_station_name', 'member_casual', 
)
trips

rideable_type | started_at              | ended_at                | duration | start_station_name           | end_station_name         | member_casual
classic_bike  | 2025-06-30 09:07:18.625 | 2025-06-30 09:16:12.722 | 534.097  | 62nd St at Claremont Ave     | Telegraph Ave at 49th St | member
electric_bike | 2025-06-03 13:07:55.313 | 2025-06-03 13:16:31.166 | 515.853  | MLK Jr Way at University Ave | Fulton St at Ashby Ave   | member
classic_bike  | 2025-06-23 09:13:34.202 | 2025-06-23 09:21:50.823 | 496.621  | Precita Park                 | Harrison St at 20th St   | casual
classic_bike  | 2025-06-16 13:24:02.794 | 2025-06-16 13:34:30.657 | 627.863  | San Pablo Park               | San Pablo Park           | member
electric_bike | 2025-06-04 06:47:59.506 | 2025-06-04 07:00:28.534 | 749.028  | Broadway at 40th St          | Bay Street Plaza         | casual
electric_bike | 2025-06-03 17:38:46.966 | 2025-06-03 17:47:45.805 | 538.839  | Masonic Ave at Turk St       | Masonic Ave at Turk St   | casual
electric_bike | 2025-06-03 21:41:02.433 | 2025-06-03 21:47:29.827 | 387.394  | Masonic Ave at Turk St       | Haight St at Lyon St     | casual
electric_bike | 2025-06-15 00:26:46.204 | 2025-06-15 00:41:38.997 | 892.793  | Masonic Ave at Turk St       | 34th Ave at Balboa St    | member
electric_bike | 2025-06-03 21:40:42.205 | 2025-06-03 21:48:15.143 | 452.938  | Masonic Ave at Turk St       | Broderick St at Oak St   | casual
classic_bike  | 2025-06-28 16:01:15.655 | 2025-06-28 16:07:09.931 | 354.276  | 23rd St at San Bruno Ave     | 20th St at Bryant St     | member
... (345730 rows omitted)

In [146]:
trips.to_csv('data/trips.csv')